.linkCard:hover{
  background-color: rgb(232 232 232);
  border-radius: 4px;
}
.linkCard {
  width: 112px;
  height: 112px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.icon:hover{
  background-color: #ffffff;
}

.icon {
  width: 48px;
  border-radius: 24px;
  background-color: #f7f7f7;
  line-height: 48px;
  height: 48px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}